@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-hex: #1c1c1e;
  --background-hex: #f2f2f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #f2f2f7;
    --background-hex: #1c1c1e;
  }
}

body {
  color: rgb(var(--foreground-hex));
  background: var(--background-hex);
} */
